@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
}

:root{
    --color_text-primary: #FF1079;
    --color_text-segundary: #000;
    --color_text-tertiary:#606569;
    --main_color-primary:#552D69;
    --main_color_segundary:#eeedd4;
    --background-color:#FFFEB3;
    --lowText_font_size:16px;
    --text_size_title: 40px;
    --text_title_card:24px;
    --text_title_cardv2: 20px;
    --text_paragraph:16px;
    --box_shadow-primary:0px 6px 50px -20px rgba(0,0,0,0.2);
    

}

.container__header{
    max-width: 1500px;
    height: 100px;
    margin: 10px 10px;
    background-image: linear-gradient(200deg, #00000023 100%, #0000008c 10% ),url('../imagenes/fondofloral.png');
    background-repeat: unset;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
   
    
   
}  

.logo img{
    width: 200px;
}



.info{
    
    margin: 30px;
    margin-left: 10px;
    list-style: none;
    display:flex;  
   
    
}

.menu nav ul li{
    margin: 20px;

}

.menu nav ul li a{
    color: #000;
    font-size: 20px;
    position: relative;

}

.menu nav ul li a:hover{
    color: mediumvioletred;
}

.logo{

   display: flex;
   align-items: center;
   margin: 50px;
   
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}


.btn__quote{
    display: block;
    padding: 8px 20px;
    border: 2px solid #FF1079;
    color: #000;
    border-radius: 8%;
    margin: 10px;
    font-weight: 400;
    transition: all 500ms;
}

.btn__quote:hover{
    color: azure;
    background: #FF1079;
}

.socialMedia{

    margin: 0px 10px;

}

.socialMedia a{

    margin: 0px  10px   ;

}

.container__cover{
    
    padding:100px 0px 100px 0px;
    background: var(--main_color_segundary);
}

.text__cover{
   
   max-width: 100%;
   padding-right: 150px;
}

.cover{

    max-width: 1200px;
    margin: auto;
    margin-top: 100px ;
    display: flex;
    align-items: center;
    padding: 0px 20px;
   
}

.container__cover img{
    
   
    border-radius: 100%;
}



.text__cover h1{
    width:500px;
    margin-left: 50px;
    font-size: var(--text_size_title);
    color: var(--color_text-segundary);
}

.text__cover p{
    width:500px;
    margin-left: 50px;
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}




.btn__text{
    width:500px;
    margin-left: 180px;
    display: block;
    background: var(--color_text-primary);
    width: 150px;
    margin-top: 40px;
    border-radius: 8%;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: all 300ms;
    text-align: center;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
}

.btn__text:hover{
    background: transparent;
    border: 2px solid var(--color_text-primary);
    color: var(--color_text-primary);
}

.container__card-primary{

    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;

}

.text__card-primary{
    max-width: 800px;
    margin: auto;

}

.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-segundary);

}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 40px;
}

.flor{
     width: 100px;

}

.flor2{
    width: 100px;
    height: 100px;
    
}

.box__card-primary{
    padding: 60px 40px;
    max-width: 350px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 600;
}

.box__card-primary p{
    margin-top: 20px;
}

.container__about{
    padding: 50px 0px;
    background-attachment: var(--background-color);
    margin-top: 100px;

}


.about{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    background-image: linear-gradient(100deg, #9350db7e 100%, #100f0f 100% ),url('../imagenes/lavanda.png');
    border-radius: 10%;
}

.text__about{
    width: 100%;
    padding-right: 40px;
}

.text__about h1{
    color: var(--color_text-segundary);
    font-weight: 600;
    margin-left: 30px;

}

.text__about p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    margin-left:30px ;
    color: var(--color_text-tertiary);
}

.imagen__about{
    display: flex;
    width: 100%;
    padding-left: 200px;
    
}

.imagen__about img{
    width: 200px;
    
}

.flower1{
    margin:10px -100px 10px 50px;
    height: 100%;
    clip-path: polygon(0 30%, 100% 28%, 51% 62%, 0% 100%);


}

.flower2{
    
    height: 250px;
    clip-path: polygon(100% 100%, 100% 0%, 49% 52%, 0% 100%);

}
 /* 